
a {
  all: unset;
  margin-left: 15px;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ////////ANIMATION START///////// */


.min-height {
<<<<<<< HEAD
  display: flex;
  min-height: 0%;
=======
  height: 0%;
>>>>>>> 7af2741 (spa structure)
}


#home {

	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

.loading-container {
	animation: rotate 3s linear infinite;
	height: 2rem;
	transform-origin: bottom center;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

.circle {
	animation: grow 1.5s linear infinite;
	background-color: var(--P1_FifthColor);
	border-radius: 50%;
	display: inline-block;
	margin: -10px;
	height: 40px;
	width: 40px;
	transform: scale(0);
}

.circle:nth-of-type(2) {
	animation-delay: .75s;
	background-color: var(--P1_SecondColor);
}

@keyframes grow {
	50% {
		transform: scale(1);
	}
}








/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* container.answers no tiene nada en el css, habría que ponerle un flex para ordenar bien las respuestas de dentro */
/* !!!!!!!!!!!!!!!!!!!!!!!!! */














/* Fonts used */
body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.buttonStyle {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 2rem;
}

/* Colors Palette used */
:root {
  /* First Palette */
  --P1_FirstColor: #61a1d7;
  --P1_SecondColor: #a1c5e7;
  --P1_ThirdColor: #fefdf8;
  --P1_FourthColor: #f0a963;
  --P1_FifthColor: #dd7f5a;
  /* Second Palette */
  /* --P2_FirstColor: e9f3fc;
    --P2_SecondColor:   ;
    --P2_ThirdColor:    ;
     --P2_FourthColor:  ; */
}

/* Here details elements colors */
:root {
  --mainDetails-Background-color: var(--P1_ThirdColor);
  --mainDetails-Text-color: var(--P1_FifthColor);
  --mainDetails-Shadow-color: rgba(25, 25, 25, 0.04) 0 0 1px 0,
    rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  --hoverDetails-Text-color: var(--P1_ThirdColor);
  --hoverDetails-Background-color: var(--P1_FourthColor);
  --hoverDetails-BoxShadow-color: 0 0.4rem 0.7rem var(--P1_FifthColor);
}

:root {
  /*Aquí igual habrá que cambiarlo por BODY o la parte donde estén las preguntas /*
    /* The image used */
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    var(--P1_FirstColor) 1%,
    var(--P1_SecondColor) 25%,
    var(--P1_ThirdColor) 80%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}

.hide {
  display: none;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  color: var(--P1_FourthColor);
}
h1 {
  font-size: 5.4rem;
  color: var(--P1_FirstColor);
  margin-bottom: 5rem;
}
h1 > span {
  font-size: 2.4rem;
}
h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}
h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* Utilities */
.container {
  background-color: var(--P1_FirstColor);
  border-radius: 1.7rem;
  width: 70vw;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  flex-direction: column;
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 8rem;
<<<<<<< HEAD
<<<<<<< HEAD
  min-height: 35rem;
  max-height: 35rem;
=======
  min-height: 35rem;
  
>>>>>>> c80826d (problema container height)

}

#loadingElement{
  margin: 15rem;
  justify-content: center;
  align-items: center;
}

#question-container {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  flex-wrap: wrap;
  margin-top: 10rem;
=======
  min-height: 100vh;
  flex-wrap: wrap;
  margin-top: 1rem;
>>>>>>> c80826d (problema container height)
  margin: 5%;
  }

  .nota {
    font-size: 1.6rem;
    font-weight: 800;
  }
  #question {
    font-size: 2rem;
    font-weight: 600;
    color: var(--P1_ThirdColor);
  }

<<<<<<< HEAD
=======
}

>>>>>>> 7af2741 (spa structure)
=======
>>>>>>> c80826d (problema container height)
#answer-buttons {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  flex-wrap: wrap;
  
<<<<<<< HEAD
}
#start-btn{
  font-size: 1.3rem;
  height: 4rem;
}

#alertMessage{
display: flex;
justify-content: center;
font-size: 1.3rem;
font-weight: 800;
color: red;
  height: 4rem;
=======
>>>>>>> 7af2741 (spa structure)
}
#start-btn{
  font-size: 1.3rem;
  height: 4rem;
}

#alertMessage{
display: flex;
justify-content: center;
font-size: 1.3rem;
font-weight: 800;
color: red;
  height: 4rem;
}

.buttonAuxiliar {
  color: var(--mainDetails-Text-color);
  background-color: var(--mainDetails-Background-color);
  border-radius: 100px;
  border-width: 0;
  box-shadow: var(--mainDetails-Shadow-color);
  cursor: default;
  display: inline-block;
  transition: all 200ms;
}


.buttonStyleAnswer {
  color: var(--mainDetails-Text-color);
  background-color: var(--mainDetails-Background-color);
  border-radius: 100px;
  border-width: 0;
  box-shadow: var(--mainDetails-Shadow-color);
  cursor: default;
  width: 40%;
<<<<<<< HEAD
<<<<<<< HEAD
  height: 3rem;
  margin: 5%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.buttonStyle {


}
=======
  height: 5rem;
=======
  height: 3rem;
>>>>>>> c80826d (problema container height)
  margin: 5%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.buttonStyle {


}
>>>>>>> 7af2741 (spa structure)
.buttonStyle:hover {
  color: var(--hoverDetails-Text-color);

  background-color: var(--hoverDetails-Background-color);
  transform: scale(1.05);
  box-shadow: var(--hoverDetails-BoxShadow-color);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
button {
  color: var(--mainDetails-Text-color);
  background-color: var(--mainDetails-Background-color);
  border-radius: 50px;
  border-width: 0;
  box-shadow: var(--mainDetails-Shadow-color);
  cursor: default;
  display: inline-block;
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
}

button:hover {
  color: var(--mainDetails-Text-color);
  background-color: var(--mainDetails-Background-color);
  transform: scale(1.05);
  box-shadow: var(--hoverDetails-BoxShadow-color);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.flex-center {
  display: flex;
  justify-content: center;
}


/* loading animation */
.loading {
	margin: auto;
}
@keyframes spin { to { transform: rotate(.5turn); } }
@keyframes radius { 50% { border-radius: 50%; } } 
@keyframes color { 33% { color: var(--P1_FifthColor); } 66% { color: var(--P1_SecondColor) } }
@keyframes width { 50% { border-width: .3em; } } 

.loading:before {
	content: '';
	display: block;
	width: 4em;
	height: 4em;
	margin: 0 auto 1rem;
	border: 1.5em solid;
	color: var(--P1_FirstColor);
	box-sizing: border-box;
   /*動畫持續時間 & 名稱*/
	animation: 1s spin, .7s radius, 1.1s color, 1.3s width; 
   /*動畫加速度函式 */
   animation-timing-function: linear;
	/*動畫播放次數*/
   animation-iteration-count: infinite; 
}
<<<<<<< HEAD



<<<<<<< HEAD

=======
/* LEADERBOARD PAGE

.container-end {
  background-color: var(--P1_FourthColor);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 2rem;
  
}

.end-title{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 2rem;

}

.high-score-result {
 font-size: 1.5rem;
 font-weight: 1rem;
} */
>>>>>>> 7af2741 (spa structure)
=======
>>>>>>> c80826d (problema container height)
