









/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* container.answers no tiene nada en el css, habría que ponerle un flex para ordenar bien las respuestas de dentro */
/* !!!!!!!!!!!!!!!!!!!!!!!!! */














a {
  all: unset;
  margin-left: 15px;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Fonts used */
body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.buttonStyle {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 2rem;
}

/* Colors Palette used */
:root {
  /* First Palette */
  --P1_FirstColor: #61a1d7;
  --P1_SecondColor: #a1c5e7;
  --P1_ThirdColor: #fefdf8;
  --P1_FourthColor: #f0a963;
  --P1_FifthColor: #dd7f5a;
  /* Second Palette */
  /* --P2_FirstColor: e9f3fc;
    --P2_SecondColor:   ;
    --P2_ThirdColor:    ;
     --P2_FourthColor:  ; */
}

/* Here details elements colors */
:root {
  --mainDetails-Background-color: var(--P1_ThirdColor);
  --mainDetails-Text-color: var(--P1_FifthColor);
  --mainDetails-Shadow-color: rgba(25, 25, 25, 0.04) 0 0 1px 0,
    rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  --hoverDetails-Text-color: var(--P1_ThirdColor);
  --hoverDetails-Background-color: var(--P1_FourthColor);
  --hoverDetails-BoxShadow-color: 0 0.4rem 0.7rem var(--P1_FifthColor);
}

:root {
  /*Aquí igual habrá que cambiarlo por BODY o la parte donde estén las preguntas /*
    /* The image used */
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    var(--P1_FirstColor) 1%,
    var(--P1_SecondColor) 25%,
    var(--P1_ThirdColor) 80%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}

.hide {
  display: none;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  color: var(--P1_FourthColor);
}
h1 {
  font-size: 5.4rem;
  color: var(--P1_FirstColor);
  margin-bottom: 5rem;
}
h1 > span {
  font-size: 2.4rem;
}
h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}
h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* Utilities */
.container {
  background-color: grey;
  border-color: #fefdf8;
  border-style: solid;
  border-radius: 1.7rem;
  width: 70vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  flex-direction: column;
  max-width: 80rem;
  margin: 0 auto;
}

#answer-buttons {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.buttonAuxiliar {
  color: var(--mainDetails-Text-color);
  background-color: var(--mainDetails-Background-color);
  border-radius: 100px;
  border-width: 0;
  box-shadow: var(--mainDetails-Shadow-color);
  cursor: default;
  display: inline-block;
  transition: all 200ms;
}


.buttonStyleAnswer {
  color: var(--mainDetails-Text-color);
  background-color: var(--mainDetails-Background-color);
  border-radius: 100px;
  border-width: 0;
  box-shadow: var(--mainDetails-Shadow-color);
  cursor: default;
  width: 40%;
  margin: 5%;
  /* display: inline-block;
  align-items: center;
  height: 50px; 
  padding: 0 25px;
  transition: all 200ms;
   margin: 2rem; */
}

.buttonStyle:hover {
  color: var(--hoverDetails-Text-color);

  background-color: var(--hoverDetails-Background-color);
  transform: scale(1.05);
  box-shadow: var(--hoverDetails-BoxShadow-color);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
button {
  color: var(--mainDetails-Text-color);
  background-color: var(--mainDetails-Background-color);
  border-radius: 50px;
  border-width: 0;
  box-shadow: var(--mainDetails-Shadow-color);
  cursor: default;
  display: inline-block;
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
}

button:hover {
  color: var(--mainDetails-Text-color);
  background-color: var(--mainDetails-Background-color);
  transform: scale(1.05);
  box-shadow: var(--hoverDetails-BoxShadow-color);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.flex-center {
  display: flex;
  justify-content: center;
}


/* loading animation */
.loading {
	margin: auto;
}
@keyframes spin { to { transform: rotate(.5turn); } }
@keyframes radius { 50% { border-radius: 50%; } } 
@keyframes color { 33% { color: var(--P1_FifthColor); } 66% { color: var(--P1_SecondColor) } }
@keyframes width { 50% { border-width: .3em; } } 

.loading:before {
	content: '';
	display: block;
	width: 4em;
	height: 4em;
	margin: 0 auto 1rem;
	border: 1.5em solid;
	color: var(--P1_FirstColor);
	box-sizing: border-box;
   /*動畫持續時間 & 名稱*/
	animation: 1s spin, .7s radius, 1.1s color, 1.3s width; 
   /*動畫加速度函式 */
   animation-timing-function: linear;
	/*動畫播放次數*/
   animation-iteration-count: infinite; 
}



/* ////////SCORE///////// */
